* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #FFFFFF;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.page_header {
  background-image: url(../images/header/background.jpg);
  background-size: cover;
  width: 100%;
  padding: 0px 100px;
}

.header_nav {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.logo {
  padding-right: 200px;
}

.link_nav_list {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
}

.link_nav_list:hover {
  text-decoration: underline;
}

.content_header {
  display: flex;
  justify-content: space-between;
}

.about_company_list {
  list-style: none;
  margin-top: 100px;
}

.iphone {
  background-image: url(../images/header/kabel_iphone.png);
  background-repeat: no-repeat;
  background-position: 48px bottom;
}

.name_company {
  font-family: "Kenia";
  font-size: 150px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 75px;
}

.header_about_company {
  width: 290px;
  height: 63px;
  font-size: 20px;
}

.first_page_section {
  background: #D53005;
  width: 100%;
  padding: 90px 0px 260px 100px;
  display: flex;
  align-items: flex-end;
}

.music_list {
  list-style: none;
}

.music {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 200px;
}

.music_button {
  width: 382px;
  height: 83px;
  margin-bottom: 75px;
  color: #FFFFFF;
  background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
  border: 0.5px solid #000000;
  font-size: 40px;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 50%);
}

.second_page_section {
  background: linear-gradient(180deg, #D53005 0%, #000000 6.04%);
  width: 100%;
  padding: 90px 100px;
  height: 1024px;
}

.about {
  font-size: 30px;
  font-weight: 400;
}

.section_about_company {
  width: 969px;
  height: 72px;
  font-size: 30px;
  font-weight: 400;
  display: block;
}

.about_company_block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third_page_section {
  padding: 90px 0px 200px 0px;
  width: 100%;
  background: #D53005;
  display: flex;
  align-items: flex-end;
}

.store_list {
  list-style: none;
  padding-left: 100px;
}

.store {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 150px;
}

.download_windows {
  box-shadow: 4px 4px 4px 0px #00000040;
  margin-bottom: 50px;
  border: none;
  width: 240px;
  height: 60px;
  background: #020202E5;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download_windows_text {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  height: 50px;
}

.download_macos {
  box-shadow: 4px 4px 4px 0px #00000040;
  margin-bottom: 50px;
  border: 1px solid #000000B2;
  width: 240px;
  height: 60px;
  background: #E3E3E3;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download_macos_text {
  color: #020202E5;
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  height: 50px;
}

.need_old_version {
  padding-left: 25px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.info_old_version {
  padding-left: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 431px;
  height: 110px;
}

.to_old_version {
  color: black;
}

.page_footer {
  background: linear-gradient(180deg, #D53005 0%, #000000 4.01%);
  width: 100%;
  padding: 100px 30px 50px 90px;
  height: 536px;
}

.three_lists {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 150px;
  padding-bottom: 75px;
}

.footer_list {
  list-style: none;
  display: block;
  gap: 20px;
}

.first_line {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.link_footer_list {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-bottom: 20px;
}

.link_footer_list:hover {
  text-decoration: underline;
}

.last_footer_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 60px;
}

.last_name_company {
  font-size: 50px;
  font-weight: 400;
  font-family: "Kenia", sans-serif;
  width: 138px;
  height: 100px;
  line-height: 100%;
}